# Adobe Illustrator SDK / Xcode

# Template ----
ReadMe.txt
#*.vcxproj
#*.vcxproj.filters
#*.vcxproj.user

# IllustratorSDK ----
plugin.pipl
*.aip
*.zxp

*.a

# ImGui ----
imgui.ini

# Xcode ----
*.build/
XCBuildData/
xcuserdata/

# windows ----
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
*.lnk
*.pdb
.vs/
Debug/
x64/
lib/win/

# mac ----
.DS_Store
.AppleDouble
.LSOverride
._*

# just for me ----
_release/
_backup/
*.zip
*.ai
*.xcf
*コピー*
*.bak
*.py

